# Ignore files with no extensions
# i.e., binaries in unix systems
*
!*.*
!*/

# makefile doesn't have any extension
# but should not be ignored by git
!makefile

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Go profiling files
*.prof

# VS Code config folder
.vscode/

# MacOS folder config
.DS_Store
